<html>
<head>
</head>
<body>
<form action="/postAuth" method="POST">
<div>
    Finstagram Post a photo:
    <a href="/home">Home</a>
    <a href="/logout">Logout</a>
</div>
	<input type="text" name = "filepath" placeholder="URL" value="file:///Users/" required/> </br>
	<textarea rows = 20 cols = 50 max length = 1000 name = "caption" 				placeholder="Write a caption."></textarea> </br>
	<label for="button">Visible to all followers?</label>
	<input type="radio" name="allFollowers" id="button" value="accept"> Accept 
  	<input type="radio" name="allFollowers" value="deny"> Deny </br> </br>
	<h1> Which Friendgroups? </h1>

	{% for line in data %}
	<p> {{line.groupName}} </p>
	<input type="radio" name={{line.groupName}} value="accept"> Yes 
  	<input type="radio" name={{line.groupName}} value="deny"> No </br>
	{% endfor %}
	
	</br>
	<p> Tag a user <p>
	<input type="text" name = "tag" placeholder="username:" > </br>
	
	{% if error%}
	<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}

	<input type="submit" value = post />
</form>
</body>
</html>
