<html>
<head>
</head>
<body>
<h1>Welcome {{username}}!</h1>
<a href="/notifications">Your Notifications</a> </br> </br> </br> 	
<a href="/browsegroup">Browse friend groups</a> </br>
<a href="/joingroup">Join a friend group</a> </br>
<a href="/creategroup">Create a friend group</a> </br>
<a href="/people">Browse people</a> </br>
<a href="/followperson">Follow a person</a> </br>
<a href="/view">View photos</a> </br>
<a href="/post">Post a photo</a> </br>
<a href="/logout">Logout</a> </br>

</body>
</html>
